/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */



body {
    background-image: linear-gradient(rgb(238, 238, 255), rgb(58, 58, 107));

}

nav {
    text-align: center;
    /* background-color: blue; */
    background-image: linear-gradient(to right, yellow, red);
    color:aliceblue;
}


/* --- Class Selectors --- */

.forecast {
    display: flex;
}

.outline {
    border: 1px solid black;
    border-radius: 4px;
}