/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */

nav {
    text-align: center;
    /* background-color: blue; */
    background-image: linear-gradient(to right, yellow, red);
    color:aliceblue;
}



.forecast {
    display: flex;
}