/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */



body {
    background-image: linear-gradient(rgb(238, 238, 255), rgb(58, 58, 107));

}

nav {
    text-align: center;
    /* background-color: blue; */
    background-image: linear-gradient(to right, yellow, red);
    color: white;
}


/* --- Class Selectors --- */

.forecast {
    display: flex;
}

.outline {
    border: 1px solid black;
    border-radius: 4px;
}

.card-body {
    background-image: linear-gradient(to right,rgb(22, 22, 68), rgb(2, 2, 12));
    border-radius: 6px;
}